  <table>
    <thead>
      <tr>
        <td><h3>Artist</h3></td>
        <td><h3>Album Name</h3></td>
      </tr>
    </thead>
    <tbody>
      {{#each albums}}
        <tr>
          <td>{{ this.Artist.Name }}</td>
          <td>{{ this.Title }}</td>
        </tr>
      {{/each}}
    </tbody>
</table>
